.flag {
  background-color: transparent;
  border: solid 1px var(--color-indicator, #666);
  border-radius: 5px;
  color: var(--color-indicator, #666);
  font-size: 0.8em;
  margin-right: 5px;
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.main .flag {
  background-color: var(--color-indicator);
  border-width: 3px;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  min-width: 25px;
  padding: 4px 8px;
}

.ok {
  --color-indicator: var(--color-green);
}

.warning {
  --color-indicator: var(--color-yellow);
}

.high {
  --color-indicator: var(--color-orange);
}

.danger {
  --color-indicator: var(--color-red);
}

.epic {
  --color-indicator: var(--color-purple);
}

.low-warning {
  --color-indicator: var(--color-blue);
}

.low-high {
  --color-indicator: var(--color-dark-blue);
}

.low-danger {
  --color-indicator: var(--color-deep-blue);
}

.low-epic {
  --color-indicator: var(--color-purple);
}

.label {
  color: var(--color-indicator, #666);
  font-size: 0.8em;
  margin-top: 3px;
  text-align: center;
  text-transform: uppercase;
}
