.container {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.circle {
  animation: pulse 1s infinite;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  font-size: 5vh;
  height: 10vh;
  line-height: 10vh;
  opacity: 0.5;
  text-align: center;
  transform: scale(1);
  width: 10vh;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
