.entry {
  display: flex;
  flex-direction: row;
  margin: 2em 0;
}

.left {
  flex-grow: 1;
  min-width: 200px;
}

.condition {
  font-size: 1.25em;
  font-weight: 500;
}

.indicators {
  display: flex;
  flex-direction: row;
}

.time {
  color: var(--color-text-light, #666);
  font-size: 0.9em;
}
