header {
  margin-top: 3em;
  text-align: center;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
}

h2 {
  color: #666;
  font-size: 48px;
  margin: 0;
}

h3 {
  font-size: 22px;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

a {
  color: inherit;
  font-weight: 500;
  text-underline-offset: 1px;
  text-decoration-color: #333;
}

article,
footer {
  margin: 3em 0;
}

footer {
  text-align: center;
}

.hot {
  color: #c33;
}

.cold {
  color: #33c;
}

.entry {
  align-items: start;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
}

.left {
  flex-shrink: 0;
  margin-right: 15px;
  text-align: center;
  width: 64px;
}

.emoji {
  background-color: #eee;
  border-radius: 64px;
  font-size: 32px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
}

.detail {
  flex-grow: 1;
  max-width: 300px;
}

.time {
  color: #666;
  font-size: 0.9em;
}
