header {
  margin-top: 2em;
}

h1 {
  border-bottom: solid 3px #000;
  font-size: 32px;
  line-height: 1em;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-size: 22px;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  text-decoration-color: #333;
  text-underline-offset: 1px;
}

h4 a:hover {
  text-decoration: underline;
}

article {
  padding: 1em 0;
}

footer {
  cursor: pointer;
  font-size: 32px;
  margin-bottom: 1em;
  text-align: center;
}

.entry {
  align-items: start;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
}

.left {
  flex-shrink: 0;
  margin-right: 15px;
  text-align: center;
  width: 64px;
}

.emoji {
  background-color: rgba(0, 0, 0, 10%);
  border-radius: 64px;
  font-size: 32px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
}

.detail {
  flex-grow: 1;
  max-width: 230px;
}

.hot {
  background-color: #fcc;
}

.cold {
  background-color: #cef;
}

.time {
  color: #666;
  font-size: 0.9em;
}
