body {
  background-color: var(--color-bg, #f0f0f0);
  color: var(--color-text, #000000);
  font-family: -apple-system, system-ui, sans-serif;
  margin: 0;
  padding: 1.5em;
}

h3 {
  font-size: 22px;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin: 3px 0 5px 0;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  text-decoration-color: #333;
  text-underline-offset: 1px;
}

a:hover {
  text-decoration: underline;
}

article {
  margin: 0 auto;
  max-width: 575px;
}

footer {
  cursor: pointer;
  font-size: 32px;
  margin-bottom: 1em;
  text-align: center;
}

:root {
  --color-blue: #556688;
  --color-green: #1da91c;
  --color-orange: #cf5c00;
  --color-purple: #88158a;
  --color-red: #c60000;
  --color-yellow: #cc9b00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111111;
    --color-text: #f0f0f0;
    --color-text-light: #999;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.85rem;
    padding: 0.5em 1.5em;
  }
}
